/* generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* inizio header */
header {
  background-image: url(img/pattern.png);
  background-color: #4ea0ff;
  background-position: top;
  height: 175px;
}

header img {
  width: 20%;
  margin-left: 10px;
  margin-top: 70px;
}

/* inizio main */
main {
  margin: 20px 10px;
}

h1 {
  font-size: 50px;
}

.article-writer {
  color: #858585;
  font-size: 26px;
}

.pubblishing-date {
  color: #858585;
  font-size: 18px;
}

 .article-writer span {
  color: #41b6e9;
}

.heading-images {
  margin-top: 30px;
}

.first-paragraph {
  margin-top: 30px;
}

.first-paragraph span {
  background-color: yellow;
}

ul {
 margin: 30px 15px;
}

table {
  border-collapse: collapse;
}
.riga-header {
  color: white;
  background-color: #20a9e5;
  text-align: left;
}

.riga-prima, .riga-terza {
  background-color: #b1e5f2;
}

.riga-seconda {
  background-color: white;
}

.prima-colonna {
  width: 25%;
}

.seconda-colonna {
  width: 25%;
}

.terza-colonna {
  width: 50%;
}

.second-paragraph {
  margin-top: 30px;
}

.second-paragraph span {
  background-color: yellow;
}




