/* generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* inizio header */
header {
  background-image: url(img/pattern.png);
  background-color: #4ea0ff;
  background-position: top;
  height: 175px;
}

header img {
  width: 20%;
  margin-left: 10px;
  margin-top: 70px;
}
/* fine header */
/* inizio main */
main {
  margin: 20px 10px;
}
/* inizio titolo principale, autore e data */
h1 {
  font-size: 50px;
}
/* fine titolo principale, autore e data*/

.article-writer {
  color: #858585;
  font-size: 26px;
}

.pubblishing-date {
  color: #858585;
  font-size: 18px;
}

 .article-writer span {
  color: #41b6e9;
}
/* fine titolo principale, autore e data */
/* inizio immagini principali con didascalie */
.heading-images {
  margin-top: 30px;
}
/* fine immagini principali con didascalie */
/* inizio primo paragrafo */
.first-paragraph {
  margin-top: 30px;
}

.first-paragraph span {
  background-color: yellow;
}
/* fine primo paragrafo */
/* inizio ul */
ul {
 margin: 30px 15px;
}
/* fine ul */
/* inizio table */
table {
  border-collapse: collapse;
}
.riga-header {
  color: white;
  background-color: #20a9e5;
  text-align: left;
}

.riga-prima, .riga-terza {
  background-color: #b1e5f2;
}

.riga-seconda {
  background-color: white;
}

.prima-colonna {
  width: 25%;
}

.seconda-colonna {
  width: 25%;
}

.terza-colonna {
  width: 50%;
}

.second-paragraph {
  margin-top: 30px;
}

.second-paragraph span {
  background-color: yellow;
}
/* fine table */
/* fine main */

/* inizio footer */
footer {
  margin: 20px 10px;
}

.footer-title {
  color: #858585;
  font-size: 24px;
  font-weight: bold;
}

.monitor {
  width: 300px;
  height: 200px;
  background-image: url(img/monitor.jpg);
  margin-top: 15px;
  padding-top: 20px;
  padding-left: 20px;
}

.graph {
  width: 300px;
  height: 200px;
  background-image: url(img/graph.jpg);
  margin-top: 15px;
  padding-top: 20px;
  padding-left: 20px;
}

.monitor div {
  color: white;
  font-size: 20px;
}

.graph div {
  color: white;
  font-size: 20px;
}
/* fine footer */



